@import url("./animations.css");
@import url("./utilities.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #fdf5e9;
  font-family: var(--font-inter);
}

/* TelInput component */
.telInput {
  width: 100%;
  border: 0.75px solid #876a6c;
  padding: 6px 8px;
}

.telInput:focus-visible {
  border: 1.5px solid #7bb4ce;
  background-color: #fff;
  outline: 1px solid #7bb4ce;
}

.w-100 {
  width: 100%;
}

/*Styling cards move to correct place

.css-qe6pja,
.css-lvorr0 {
  font-family: var(--font-playfair-display);
  font-size: 24px;
  font-weight: 600;
}

.css-hqaej {
  background-color: #fff;
}*/


